@use 'variables' as *;

.list-section {
    padding: $indent*2 0 0;
    @media screen and (max-width: 568px) {
        padding: $indent 0;
    }  
}

.subtitle {
    color: $TextSecondColor;
    font-weight: 600;
}

.title {
    font-size: 3rem;
    color: $colorSecondary;
    font-weight: 700;
    line-height: 3rem;
}

.list {
    width: 100%;
    padding: $indent 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.empty-list {
    color: $colorSecondary;
    font-size: $font-sizeMain;
}
