@use 'variables' as *;
@use 'mixins' as *;

.task-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: $indent;
    cursor: pointer;
    animation: show .5s ease-in-out;
    @media screen and (max-width: 568px) {
        margin-top: $indent*0.5;
    }
    &:hover > .task-checkbox{
        background: $colorPrimary;
    }
    &:hover > .task{
        color: $TextSecondColor;
    }
    &:hover > .task::after{
        left: 0;
        right: 0;
        opacity: 1;
    }
    &_completed {
        &:hover > .task_completed{
            color: $colorSecondary;
        }
        &:hover > .task_completed::after{
            opacity: 0; 
            left: 30%;
            right: 70%;
        }
        &:hover > .task-checkbox_completed {
            background: $colorFocus center / 50% no-repeat url("../images/check-icon.svg");
        }
    }   
}

.task-checkbox {    
    min-width: $baseSize * 5.5;
    min-height: $baseSize * 5.5;
    border-radius: $borderRadiusMain;
    background: $subColor;
    margin-right: $indent;
    transition: background 0.3s ease-in-out;
    
} 

.task-checkbox_completed {
    background: $colorPrimary center / 50% no-repeat url("../images/check-icon.svg");
}

.task {
    position: relative;
    list-style: none;
    font-size: 1.5rem;
    color: $colorSecondary;
    transition: color 0.3s ease-in-out;
    &::after {
        @include crossing;
        opacity: 0;   
    }
    &_completed{
        color: $TextSecondColor;
    }
    &_completed::after{
        @include crossing;
        left: 0;
        right: 0;
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}