@use 'variables' as *;
@use 'mixins' as *;

.task-form {
    display: flex;
    align-items: flex-end;
    position: relative;
    &__input-wrapper {
        width: 80%;
        margin-right: $indent;
        position: relative;
        &::after {
            content: "";
            display: block;
            width: $baseSize*2;
            height: $baseSize*2;
            background: center / contain url(../images/clear.svg);
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
            z-index: 2;
            cursor: pointer;
        }
    }
    &__input {
        @include inputBasic;
        padding: 0 $baseSize*5;
        position: relative;
    }
    
}


