@use 'variables' as *;
@use 'mixins' as *;

.task-form {
    display: flex;
    align-items: flex-end;
    position: relative;
    &__input-wrapper {
        width: 80%;
        margin-right: $indent;
        position: relative;
        @media screen and (max-width: 568px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: $indent;
        }
    }
    &__input {
        @include inputBasic;
        padding: 0 $baseSize*5;
        position: relative;
        @media screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 14px;
        }  
    }
    &_error {
        color: $colorSecondary;
        padding: $indent 0;
    }
    @media screen and (max-width: 568px) {
        flex-direction: column;
        align-items: center;
    }
}


