$colorPrimary: rgba(95, 46, 234, 1);
$colorSecondary: rgba(255, 255, 255, 1);
$subColor: rgba(168, 139, 251, 1);
$colorFocus: rgba(42, 0, 162, 1);
$colorBg: linear-gradient(0deg, #14142B, #14142B);

$TextSecondColor: rgba(78, 75, 102, 1);

$box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);

$baseSize: 6px;
$indent: 16px;
$font-sizeMain: 18px;

$borderRadiusMain: 16px;




$modalElemWidth: 325px;